 body{
      margin:0;
      min-height:100vh;
       margin: 0;
  padding: 0;
  background-image: url("background.jpg");
  background-size: cover;      
  background-repeat: no-repeat;  
  background-position: center; 
      display:flex;
      align-items:center;
      justify-content:center;
    }

    .board{
      margin-top: 30px;
      width:100%;
      max-width:1100px;
      background:rgba(255,255,255,0.95);
      border-radius:22px;
      padding:28px 30px 34px;
      box-shadow:0 30px 90px rgba(0,0,0,0.35);
    }

    .title{
      font-size:20px;
      font-weight:700;
      margin-bottom:18px;
      color:#333;
    }

    .section{
      margin-bottom:28px;
      margin-top: 70px;
    }

    .cards{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
      gap:18px;
    }

    .card{
      background:#f7f7f7;
      border-radius:16px;
      padding:16px;
      display:flex;
      flex-direction:column;
      gap:10px;
    }

    .top{
      display:flex;
      align-items:center;
      gap:10px;
    }

    .avatar{
      width:42px;
      height:42px;
      border-radius:50%;
      background:#ddd;
    }

    .name{
      font-weight:600;
      font-size:14px;
    }

    .meta{
      font-size:12px;
      color:#666;
    }

    .rating{
      font-size:13px;
      color:#f39c12;
    }

    .connect{
      margin-top:auto;
      padding:8px;
      border:none;
      border-radius:10px;
      background:#4facfe;
      color:#fff;
      font-weight:600;
      cursor:pointer;
      font-size:13px;
    }
    .actions {
      display: flex;
      justify-content: space-between;
      margin-top: 22px;
    }

        .btn {
      padding: 12px 26px;
      border-radius: 12px;
      border: none;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
    }

    .btn-back {
      background: #eee;
    }

    .btn-next {
      background: #4facfe;
      color: #fff;
      box-shadow: 0 10px 25px rgba(79,172,254,0.4);
    }
    @media(max-width:700px){
      .board{padding:22px;}
    }
    .btn-mentor{
      background: #fe5b4f;
      color: #fff;
      box-shadow: 0 10px 25px rgba(79,172,254,0.4);
    }