*{
  box-sizing:border-box;
  font-family:Poppins, Arial;
}

body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0246f2;
}

.login-box{
  width:320px;
  background:#fff;
  padding:30px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  text-align:center;
}

.login-box h2{
  margin:0;
}

.sub{
  margin:5px 0 20px;
  color:#666;
  font-size:14px;
}

input{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  border-radius:10px;
  border:1px solid #ddd;
  outline:none;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:#6a5cff;
  color:#fff;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  opacity:0.9;
}

.small{
  margin-top:15px;
  font-size:13px;
}

.small span{
  color:#6a5cff;
  cursor:pointer;
}